<template>
  <div id="container">
    <div id="sidebar-text">niels boelens</div>
  </div>
</template>

<script>
export default {
  name: "Sidebar"
};
</script>

<style scoped>
#container {
    background: none;
}
#sidebar-text {
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-family: 'Alegreya SC', serif;
  font-size: 5em;
  color: var(--cool-magenta);
}
</style>