<template>
  <div id="app">
    <div id="container">
      <div class="navigation split"></div>
      <div class="main-content split"></div>
      <div class="sidebar split">
        <Sidebar />
      </div>
    </div>
  </div>
</template>

<script>
import Sidebar from "./components/Sidebar";
export default {
  name: "App",
  components: {
    Sidebar
  }
};
</script>

<style>
:root {
  --cool-magenta:#cc3184;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
body {
    background-color: black;
}
.navigation {
  width: 20%;
  left: 0;
}
.main-content {
  width: 65%;
  left: 20%;
}
.sidebar {
  width: 15%;
  right: 0;
}
.split {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
</style>
